.folderWrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 20px;
  color: #555;
  font-weight: 500;
}
.textWrap {
  width: 350px;
}
.textWrap2 {
  width: 300px;
}
.fileWrapper {
  width: 370px;
  display: flex;
  gap: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  border-radius: 4px;
  transition: 0.3s;
}
.fileWrapper:hover {
  background: #0066ff;
  transition: 0.3s;
  color: #fff;
}
.yesIsselect {
  background: #06f;
  color: #fff;
}
.noIsselect {
  background: none;
  color: #555;
}