.headerContainer {
  width: 100%;
  min-width: 1138px;
  height: 74px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.headerLeftWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.shipInfoBox {
  width: 127px;
  height: 35px;
  padding: 7px 19px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 6px;
  justify-content: space-between;
  position: relative;
}
.shipInfo {
  color: #555;
  font-weight: 500;
  white-space: nowrap;
}
.langBoxArrow {
  position: absolute;
  right: 12px;
  top: 8px;
}
.nowShipInfo {
  font-weight: 500;
  width: 90px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dropdownForm {
  width: 127px;
  max-height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  position: absolute;
  top: 41;
  right: 0;
  overflow-y: auto;
  overflow-x: none;
  z-index: 9998;
  /* ✅ 스크롤바 숨기기 */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}
.dropdownForm::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.dropdownContents {
  width: 121.5px;
  margin: 2px;
  padding: 7px 18px;
  background: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.dropdownContents:hover {
  background: #E5F6FF;
  transition: 0.3s;
}
.dropdownShow {
  opacity: 1;
  pointer-events: auto;
  transition: 0.3s;
}
.dropdownHidden {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}
.langToggle {
  display: flex;
  gap: 4px;
  cursor: pointer;
  color: #555;
  font-weight: 500;
  margin-right: 30px;
}
.logoutBtn {
  border: none;
  width: 83px;
  height: 31px;
  color: #d00000;
  background: #f7d8d8;
  border-radius: 4px;
  font-weight: 400;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  line-height: 19px;
}
.headerRightWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 418px;
}
.adSearchBtn {
  padding: 12px 20.5px;
  height: 44px;
  font-size: 16px;
  font-weight: 500;
  color: #0066ff;
  border: 1px solid #0066ff;
  border-radius: 4px;
  background: #ffffff;
  cursor: pointer;
  line-height: 19px;
}
.searchInput {
  width: 424px;
  height: 42px;
  padding: 0 54px 0 20px;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.4s;
}
.searchInput:focus {
  outline: none;
  background: #f7fcff;
  border: 1px solid #0066ff;
  transition: 0.3s;
}
.searchIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 9;
  right: 20;
}

@media (max-width: 1500px){
	.searchInput {
    width: 15vw;
    transition: 0.4s;
  }
}
@media (max-width: 1200px){
	.searchInput {
    width: 10vw;
    transition: 0.4s;
  }
}