.viewerContainer {
  width: 100%;
  min-width: 1138px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.bodyWrapper {
  min-height: 600px;
  flex: 1;  
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.leftBarWrapper {
  min-width: 420px;
  background: #eee;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
}
.centerBarWrapper {
  flex: 1;
  min-width: 250px;
  background: #fff;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scrollbar-width: none; /* ✅ Firefox */
  -ms-overflow-style: none; /* ✅ IE, Edge */
}
.centerBarWrapper::-webkit-scrollbar {
  display: none;
}
.rightBarWrapper {
  min-width: 448px;
  background: #fff;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  padding: 30px 30px 0 20px;
}
.leftBarsoci {
  margin: 30px 0 0 30px;
  position: relative;
}
.soci {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px;
}
.sociDes {
  color: #555;
  font-weight: 400;
  margin-bottom: 14px;
}
.classSociWrapper {
  width: 370px;
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 0;
  transition: 0.3s;
  flex-direction: column;
  position: absolute;
  top: 63;
  left: 0;
  z-index: 999;
}
.sociText {
  font-weight: 600;
  margin-left: 10px;
}
.selectSoci {
  width: 368px;
  height: 48px;
  padding-left: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  transition: 0.3s;
  border-radius: 4px;
}
.active {
  opacity: 1;
  pointer-events: auto;
  transition: 0.4s;
}
.disable {
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.selectSoci:hover {
  background: #e5f6ff;
  transition: 0.3s;
}
.leftBarBookmark {
  margin: 58px 0 0 30px;
  padding-right: 20px;
}
.bookText {
  font-size: 20px;
  font-weight: 600;
}
.bookmarkWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftBarOutline {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  height: 100%;
  overflow: hidden;
}
.bookText {
  font-size: 20px;
  font-weight: 600;
}
.bookmarkActive {
  margin-top: 14px;
}
.bookmarkDisable {
  display: none;
}
.searchWrapper {
  position: relative;
  margin: 14px 0 20px 0;
}
.searchInput {
  width: 294px;
  height: 42px;
  padding: 0 54px 0 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.4s;
}
.searchInput:focus {
  outline: none;
  background: #f7fcff;
  border: 1px solid #0066ff;
  transition: 0.3s;
}
.searchIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
  top: 9;
  right: 40;
}
.outlineWrapper{
  width: 370px;
}
.returnText {
  font-size: 15px;
  font-weight: 500;
  color: #888;
  cursor: pointer;
  margin-bottom: 10px;
  display: inline-block;
}

.outlineWrapper {
  position: relative;
  overflow: hidden;
  width: 370px;
  flex: 1;
}
.slider {
  display: flex;
  width: 200%;
  transition: 0.6s;
  height: 100%;
}
.docuOutline {
  flex: 0 0 100%;
  overflow-y: auto; /* ✅ 여기만 스크롤 */
  min-height: 0; /* ✅ flex 내부 스크롤 버그 방지 */
}
.searchOutline {
  flex: 0 0 100%;
  overflow-y: auto;
  min-height: 0;
}
.docuOutline,
.searchOutline {
  overflow-y: auto;
  scrollbar-width: none; /* ✅ Firefox */
  -ms-overflow-style: none; /* ✅ IE, Edge */
}
/* ✅ Chrome, Safari, Edge */
.docuOutline::-webkit-scrollbar,
.searchOutline::-webkit-scrollbar {
  display: none;
}
.showSearch {
  transform: translateX(-100%);
}

.filePathText {
  font-weight: 500;
  display: inline;
}
.filePathWrapper {
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  padding: 30px 30px 20px 30px;
  justify-content: space-between;
  gap: 20px;
  overflow: auto;
}
.htmlWrapper {
  padding: 0px 20px 0 20px;
  scrollbar-width: none; /* ✅ Firefox */
  -ms-overflow-style: none; /* ✅ IE, Edge */
}
.htmlWrapper::-webkit-scrollbar {
  display: none;
}
.notHtmlYet {
  text-align: center;
  margin-top: 300px;
  color: #888;
  font-weight: 500;
}
.currentText {
  font-size: 20px;
  font-weight: 600;
}
.iconWrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.iconText {
  color: #555;
  font-size: 15px;
  font-weight: 500;
}
.rightIconWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
.currentDocu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.bookmarkWrapper {
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: start;
  cursor: pointer;
}
.addBookmark {
  font-weight: 500;
  color: #0066ff;
}
.removeBookmark {
  font-weight: 500;
  color: #555;
}
.updateText {
  color: #888;
  font-weight: 400;
  margin-bottom: 10px;
}