/* 폰트 프리텐다드로 적용 */
@import 'pretendard/dist/web/static/pretendard.css';

:root {
  --font-family-base: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-base);
}
div {
  box-sizing: border-box;
}

.grayText {
  color: #555555;
}

.wrapText {
  white-space: pre-line;
}

.line-24 {
  line-height: 24px;
}

.flex {
  display: flex;
}

.login-logo {
  color: #0085CA;
  font-size: 60px;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: -1.2px;
}
.login-logo span {
  font-weight: 700;
}

.nomal-logo {
  color: #0085CA;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -0.56px;
}
.nomal-logo span {
  font-weight: 700;
}