.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #888;
}
.loginPage {
  width: 1024px;
  height: 452px;
  border-radius: 8px;
  border: 1px solid #CCC;
  background: #FEFEFE;
  padding: 50px;
  transform: translateY(-10px);
  position: relative;
  display: flex;
}

/* 로그인/회원가입 폼 죄측 정보 */
.loginWrapper {
  margin-bottom: 20px;
}
.loginTo {
  font-size: 60px;
  font-weight: 500;
  line-height: 64px;
}
.changeLangBox {
  width: 102px;
  height: 34px;
  border-radius: 4px;
  border: 1px solid #CCC;
  background: #FFF;
  cursor: pointer;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.3s;
}
.changeLangBox2 {
  width: 102px;
  height: 68px;
  border-radius: 4px;
  border: 1px solid #CCC;
  background: #FFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  transition: 0.3s;
}
.langBoxText {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 7px;
  left: 16px;
}
.langBoxText2 {
  width: 96px;
  height: 32px;
  position: absolute;
  left: 2px;
  bottom: 2px;
  cursor: pointer;
  padding-top: 6px;
  transition: 0.3s;
  opacity: 1;
  pointer-events: auto;
}
.active {
  opacity: 0;
  pointer-events: none;
}
.langBoxText2:hover {
  background-color: #E5F6FF;
  border-radius: 4px;
  transition: 0.3s;
}
.langBoxText2 span {
  padding-left: 14px;
  font-size: 15px;
  font-weight: 500;
}
.langBoxArrow {
  position: absolute;
  top: 8px;
  right: 12px;
}
.langWrap {
  display: flex;
  gap: 14px;
  margin-top: 122px;
  position: relative;
}
.terms {
  color: #0066ff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
  top: 7.5px;
  left: 116;
}

/* 로그인, 회원가입 폼 */
.loginEmailText {
  font-weight: 500;
}
.loginFormWrapper {
  width: 350px;
  position: absolute;
  right: 50px;
  bottom: 50px;
}
.inputStyle {
  width: 336px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background: #fff;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 10px;
}
.inputStyle:focus {
  outline: none;
  border: 1px solid #0066ff;
  background: #f7fcff;
  transition: 0.3s;
}
.forgotPass {
  color: #555;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
.createAccount {
  color: #0066ff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.loginBtn {
  width: 350px;
  height: 44px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}
.loginBtnDisabled {
  background: #888888;
  transition: 0.3s;
}
.loginBtnActive {
  background: #0066ff;
  transition: 0.3s;
}
.passwordVisibleIcon {
  position: absolute;
  top: 132;
  right: 14;
}

.signupFormWrapper {
  width: 520px;
  height: 353px;
  position: absolute;
  right: 50px;
  top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
}
.inputStyleSign {
  width: 236px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  background: #fefefe;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 10px;
}
.inputStyleSign:focus {
  outline: none;
  border: 1px solid #0066ff;
  background: #f7fcff;
  transition: 0.3s;
}
.loginEmailText span {
  font-weight: 500;
  color: #d00000;
}
.wrongType:focus {
  border: 1px solid #d00000 !important;
  background: #fff0f0 !important;
  transition: 0.3s;
}
.birthEx {
  font-size: 14px;
  color: #555555;
  font-weight: 400;
  display: inline-block;
  margin-left: 6px;
  padding-bottom: 1px;
}
.notMatch {
  font-size: 14px;
  color: #d00000;
  font-weight: 400;
  display: inline-block;
  margin-left: 6px;
  padding-bottom: 1px;
}
.signupBtn {
  width: 150px;
  height: 44px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 20px;
}
.signupForm {
  position: absolute;
  bottom: 0;
  right: 0;
}
.wrongPassword {
  width: fit-content;
  white-space: pre-line;
  color: #D00000;
  border-radius: 4px;
  border: 1px solid #D00000;
  font-size: 14px;
  background: #FFF;
  padding: 7px 11px;
  position: absolute;
  cursor: pointer;
  z-index: 999;
}
.wrongPasswordOn {
  opacity: 1;
  pointer-events: auto;
  transition: 0.3s;
}
.wrongPasswordOff {
  opacity: 0;
  pointer-events: none;
}